* {
  box-sizing: border-box;
}
body {
  font-family: 'Urbanist', sans-serif;
  margin: 0;
  padding: 0;
}
.hero {
  height: 100vh;
  background: #1c1d25;
  color: #fff;
  font-size: 30px;
}
nav {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin: 0 40px;
  font-weight: 700;
  font-size: 20px;
}
ul {
  margin: 20px 5px;
  list-style-type: none;
  display: flex;
  font-size: 20px;
}
li {
  width: 100px;
  margin-right: 30px;
  text-decoration: none;
}
.hero-area {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-job {
  margin-left: 150px; /*atur buat mobile 50-70px*/
  margin-bottom: 100px;
}
.name-job h1 {
  margin: 0;
}
.name-job p {
  margin: 30px 0 20px 0;
  font-weight: 300;
  font-size: 25px;
}
.name-job .button {
  background-color: orange;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
  font-weight: 300;
  font-size: 25px;
}
.name-job .button:hover {
  background-color: coral;
  cursor: pointer;
}
.name-job .button:active {
  background: #a9a9a9;
  color: #808080;
  transform: scale(1.1) perspective(1px);
}
.socials {
  padding-bottom: 150px;
}
.social {
  margin: 30px;
}
.about {
  line-height: 30px;
  height: 300px;
}
.section-title {
  margin: 40px 0;
}
.section-title h2 {
  text-align: center;
}
.info-skills {
  display: flex;
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
}
.info p {
  text-align: justify;
}
.skills {
  flex: 1;
  margin-left: 50px;
  margin-right: 150px;
}
.skill-cont {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}
.skill {
  flex: 1;
  background-color: #f3f3f3;
  text-align: center;
  margin-right: 30px;
  padding: 7px 5px 5px;
  font-size: 13px;
  border-radius: 10px;
  font-weight: 300;
}
.projects {
  margin: 50px 0;
}
.project-cont {
  display: flex;
  justify-content: space-around;
}
.project {
  width: 360px;
  height: 500px;
  box-shadow: 5px 5px 20px #e9e6e6;
  display: flex;
  flex-direction: column;
}
.image-cont {
  flex: 1;

  margin-bottom: 5px;
}
img {
  width: 100%;
  height: 100%;
}
.desc-cont {
  flex: 0.5;

  margin-bottom: 5px;
  padding: 10px;
}
.desc-cont h3 {
  font-weight: 300;
  margin: 0;
  line-height: 1.5;
}
.desc-cont h4 {
  font-weight: 300;
  color: #4e4c4c;
  font-size: 12px;
  line-height: 1.5;
}
.desc-cont p {
  font-size: 12px;
  line-height: 1.5;
}
hr {
  border: 0;
  width: 95%;
  background-color: #b9b9b9;
  height: 1px;
}
.separate {
  border: 0;
  width: 100%;
  background-color: orange;
  height: 1px;
  margin: 50px 0;
}
.link-cont {
  flex: 0.2;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-button {
  background-color: orange;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #1c1d25;
}
@media (max-width: 480px) {
  .name-job {
    margin-left: 40px;
  }
  .info-skills {
    flex-direction: column;
  }
  .info {
    margin: 0 40px;
  }
  .skills {
    margin: 0 40px;
  }
  .skill-cont {
    flex-wrap: nowrap;
  }
}
